# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

dataset_engineering/.ipynb_checkpoints
dataset_engineering/outputs/anomalies

*.png
*.jpg
*.cpython-37.pyc
*.pyc
model_engineering/outputs
encoder_engineering/outputs
finalization/outputs
*/__pycache__
generative-facial-cosmetics.code-workspace
