# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

dataset_engineering/.ipynb_checkpoints
dataset_engineering/outputs/anomalies

*.png
*.jpg
*.cpython-37.pyc
*.pyc
model_engineering/training_checkpoints